@import "tailwindcss";

.todoAddAnim {
  opacity: 0;
  transform: translateY(-8px);
  animation: fadeIn 300ms ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}